In [1]:
import requests 
from dotenv import load_dotenv
import os
import json 
import pandas as pd
from math import e
import pandas as pd
import numpy as np
import yfinance as yf
import PySimpleGUI as sg

In [2]:
td_consumer_key= 'RI2UBDPFALITZGOC8PVR3FPC19NLYQF3'

In [3]:
ticker=['GOOG']
contractType=['CALL','PUT','ALL']
stdate='2021-09-24'
edate='2021-12-24'

In [4]:
url=f'https://api.tdameritrade.com/v1/marketdata/chains?&symbol={ticker[0]}&contractType={contractType[2]}&fromDate={stdate}&toDate={edate}'

In [5]:
response=requests.get(url, params={'apikey':td_consumer_key})
data=response.json()

In [6]:
meta={k:v for k, v in data.items() if k in ["symbol","status","underlying","strategy","interval", "isDelayed", "isIndex","interestRate",  "underlyingPrice", "volatility","daysToExpiration","numberOfContracts"]}
meta

{'symbol': 'GOOG',
 'status': 'SUCCESS',
 'underlying': None,
 'strategy': 'SINGLE',
 'interval': 0.0,
 'isDelayed': True,
 'isIndex': False,
 'interestRate': 0.1,
 'underlyingPrice': 2809.19,
 'volatility': 29.0,
 'daysToExpiration': 0.0,
 'numberOfContracts': 2660}

In [7]:
call=data['callExpDateMap']
dfc=pd.DataFrame.from_dict(call, orient='index').stack().to_frame()
dfc=pd.DataFrame(dfc[0].values.tolist(), index=dfc.index)
dfc=pd.DataFrame(dfc[0].values.tolist(), index=dfc.index)
dfc.head()

                    putCall            symbol  \
2021-09-24:3 1670.0    CALL  GOOG_092421C1670
             1680.0    CALL  GOOG_092421C1680
             1690.0    CALL  GOOG_092421C1690
             1700.0    CALL  GOOG_092421C1700
             1710.0    CALL  GOOG_092421C1710

                                             description exchangeName     bid  \
2021-09-24:3 1670.0  GOOG Sep 24 2021 1670 Call (Weekly)          OPR  1137.8
             1680.0  GOOG Sep 24 2021 1680 Call (Weekly)          OPR  1127.8
             1690.0  GOOG Sep 24 2021 1690 Call (Weekly)          OPR  1117.8
             1700.0  GOOG Sep 24 2021 1700 Call (Weekly)          OPR  1108.0
             1710.0  GOOG Sep 24 2021 1710 Call (Weekly)          OPR  1097.9

                        ask    last     mark  bidSize  askSize  ...  \
2021-09-24:3 1670.0  1140.1  1122.3  1138.95        7        1  ...
             1680.0  1130.1     0.0  1128.95        7        1  ...
             1690.0  1120.1  1060.9  1118.95        7        1  ...
             1700.0  1110.1  1180.8  1109.05        7        1  ...
             1710.0  1100.1     0.0  1099.00        4        1  ...

                    deliverableNote  isIndexOption  percentChange  markChange  \
2021-09-24:3 1670.0                           None           1.06       28.40
             1680.0                           None           0.00       28.40
             1690.0                           None          -2.72       28.40
             1700.0                           None           9.28       28.50
             1710.0                           None           0.00       28.45

                     markPercentChange  intrinsicValue  pennyPilot inTheMoney  \
2021-09-24:3 1670.0               2.56         1140.66       False       True
             1680.0               2.58         1130.66       False       True
             1690.0               2.60         1120.66       False       True
             1700.0               2.64         1110.66       False       True
             1710.0               2.66         1100.66       False       True

                      mini  nonStandard
2021-09-24:3 1670.0  False        False
             1680.0  False        False
             1690.0  False        False
             1700.0  False        False
             1710.0  False        False

[5 rows x 49 columns]

In [8]:
dfc=dfc.reset_index()
dfc.head(3)

,level_0,level_1,putCall,symbol,description,exchangeName,bid,ask,last,mark,...,deliverableNote,isIndexOption,percentChange,markChange,markPercentChange,intrinsicValue,pennyPilot,inTheMoney,mini,nonStandard
0,2021-09-24:3,1670.0,CALL,GOOG_092421C1670,GOOG Sep 24 2021 1670 Call (Weekly),OPR,1137.8,1140.1,1122.3,1138.95,...,,None,1.06,28.4,2.56,1140.66,False,True,False,False
1,2021-09-24:3,1680.0,CALL,GOOG_092421C1680,GOOG Sep 24 2021 1680 Call (Weekly),OPR,1127.8,1130.1,0.0,1128.95,...,,None,0.00,28.4,2.58,1130.66,False,True,False,False
2,2021-09-24:3,1690.0,CALL,GOOG_092421C1690,GOOG Sep 24 2021 1690 Call (Weekly),OPR,1117.8,1120.1,1060.9,1118.95,...,,None,-2.72,28.4,2.60,1120.66,False,True,False,False

In [9]:
set(dfc.level_0)

{'2021-09-24:3',
 '2021-10-01:10',
 '2021-10-08:17',
 '2021-10-15:24',
 '2021-10-22:31',
 '2021-10-29:38',
 '2021-11-19:59',
 '2021-12-17:87'}

In [10]:
put=data['putExpDateMap']
dfp=pd.DataFrame.from_dict(put, orient='index').stack().to_frame()
dfp=pd.DataFrame(dfp[0].values.tolist(), index=dfp.index)
dfp=pd.DataFrame(dfp[0].values.tolist(), index=dfp.index)
dfp.reset_index(inplace=True)
dfp.head()

,level_0,level_1,putCall,symbol,description,exchangeName,bid,ask,last,mark,...,deliverableNote,isIndexOption,percentChange,markChange,markPercentChange,intrinsicValue,pennyPilot,inTheMoney,mini,nonStandard
0,2021-09-24:3,1670.0,PUT,GOOG_092421P1670,GOOG Sep 24 2021 1670 Put (Weekly),OPR,0.0,0.05,0.05,0.03,...,,None,49900.00,0.02,24900.0,-1140.66,False,False,False,False
1,2021-09-24:3,1680.0,PUT,GOOG_092421P1680,GOOG Sep 24 2021 1680 Put (Weekly),OPR,0.0,0.25,0.05,0.13,...,,None,49900.00,0.12,124900.0,-1130.66,False,False,False,False
2,2021-09-24:3,1690.0,PUT,GOOG_092421P1690,GOOG Sep 24 2021 1690 Put (Weekly),OPR,0.0,0.25,0.10,0.13,...,,None,99900.00,0.12,124900.0,-1120.66,False,False,False,False
3,2021-09-24:3,1700.0,PUT,GOOG_092421P1700,GOOG Sep 24 2021 1700 Put (Weekly),OPR,0.0,0.25,0.15,0.13,...,,None,149900.01,0.12,124900.0,-1110.66,False,False,False,False
4,2021-09-24:3,1710.0,PUT,GOOG_092421P1710,GOOG Sep 24 2021 1710 Put (Weekly),OPR,0.0,0.25,0.10,0.13,...,,None,99900.00,0.12,124900.0,-1100.66,False,False,False,False

In [11]:
dfc.shape

(1330, 51)

In [12]:
dfp.shape

(1330, 51)

In [13]:
df_all=pd.concat([dfc, dfp])
df_all.shape

(2660, 51)

In [14]:
df_all.to_csv("GOOG.csv")

In [15]:
df_all['strike_price']=df_all['level_1']
df_all['strike_price']=df_all['strike_price'].astype('float64')

In [16]:
df_all['volatility']=df_all['volatility'].astype('float64')
df_all['delta']=df_all['delta'].astype('float64')
df_all['gamma']=df_all['gamma'].astype('float64')
df_all['theta']=df_all['theta'].astype('float64')

In [17]:
# Create 3 new dataframes: 
#      â€˜inTheMoneyâ€™ = False & â€˜daysToExpirationâ€™ between 15 & 30. (=df1)
#.     â€˜inTheMoneyâ€™ = False & â€˜daysToExpirationâ€™ between 31 & 60. (=df2)
#      â€˜inTheMoneyâ€™ = False & â€˜daysToExpirationâ€™ between 61 & 90. (=df3)
df1=df_all.loc[(df_all.inTheMoney==False) & (df_all.daysToExpiration>=15) & (df_all.daysToExpiration<=30)]
df2=df_all.loc[(df_all.inTheMoney==False) & (df_all.daysToExpiration>=31) & (df_all.daysToExpiration<=60)]
df3=df_all.loc[(df_all.inTheMoney==False) & (df_all.daysToExpiration>=61) & (df_all.daysToExpiration<=90)]

In [18]:
TICKER=yf.download('GOOG')
TICKER

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2004-08-19,49.813290,51.835709,47.800831,49.982655,49.982655,44871361
2004-08-20,50.316402,54.336334,50.062355,53.952770,53.952770,22942874
2004-08-23,55.168217,56.528118,54.321388,54.495735,54.495735,18342897
2004-08-24,55.412300,55.591629,51.591621,52.239197,52.239197,15319808
2004-08-25,52.284027,53.798351,51.746044,52.802086,52.802086,9232276
...,...,...,...,...,...,...
2021-09-15,2875.179932,2911.629883,2845.120117,2904.120117,2904.120117,1032400
2021-09-16,2902.419922,2904.000000,2868.326904,2887.469971,2887.469971,1014600
2021-09-17,2875.969971,2884.989990,2821.229980,2829.270020,2829.270020,2929500
2021-09-20,2780.003906,2787.250000,2741.060059,2780.340088,2780.340088,1744700
2021-09-21,2802.340088,2815.340088,2778.449951,2810.010010,2810.010010,504212

In [19]:
df_ticker1=TICKER.iloc[-90:]
df_ticker1=df_ticker1[['Adj Close']]
df_ticker1

              Adj Close
Date
2021-05-14  2316.159912
2021-05-17  2321.409912
2021-05-18  2303.429932
2021-05-19  2308.709961
2021-05-20  2356.090088
...                 ...
2021-09-15  2904.120117
2021-09-16  2887.469971
2021-09-17  2829.270020
2021-09-20  2780.340088
2021-09-21  2810.010010

[90 rows x 1 columns]

In [20]:
df_ticker1.to_csv("GOOG_adjPrice.csv")

In [21]:
# Check for underlying price (closing Price) for last 6 days = [ p0, p1,p2,p3,p4, p5)
df_ticker=TICKER.iloc[-6:]
df_ticker=df_ticker[['Adj Close']]
df_ticker

              Adj Close
Date
2021-09-14  2868.120117
2021-09-15  2904.120117
2021-09-16  2887.469971
2021-09-17  2829.270020
2021-09-20  2780.340088
2021-09-21  2810.010010

In [22]:
# Calculate the daily changes in price of Underlying P = Change in P = todays price - yesterdayâ€™s price =Pn - P(n-1)
df_ticker2=df_ticker.diff()
df_ticker2.dropna(inplace=True)

In [23]:
df_ticker2

            Adj Close
Date
2021-09-15  36.000000
2021-09-16 -16.650146
2021-09-17 -58.199951
2021-09-20 -48.929932
2021-09-21  29.669922

In [24]:
#import numpy as np
# Square the daily changes in the price as per step 1
# Calculate 5 days average of the squared daily changes in Price as per step 2 for 5 trailing days = S
df_ticker2['new']=df_ticker2['Adj Close']**2/len(df_ticker2)
df_ticker2


# Calculate the square root of average, S as per step 3 = DVIV
DVIV=np.sqrt(df_ticker2['new'].sum())

In [25]:
# Vt = std deviation for option time window (90 Days)
vt=175

In [26]:
#!pip install pysimplegui

In [27]:
# import PySimpleGUI as sg

In [28]:
# userInput=pd.DataFrame()

In [29]:
### layout = [
###

In [31]:
#userInput
#userInput ='Long Term'

In [32]:
#if user_input =='Long Term':
#    df_sub=df3
#elif user_input =='Mid Term':
#    df_sub=df2
#elif user_input =='Short-Term':
#    df_sub=df1
#else:
#    df_sub=df_all

NameError: name 'user_input' is not defined

In [33]:
df_sub=df_all

In [34]:
HPD= 3
ECIV = DVIV * np.sqrt((HPD)* 5/7)
# Vega Effect, VE =  -ABS(Ve) * ECIV
df_sub['vega_effect']=df_sub['vega'].abs()*(-1)*ECIV
# Theta Effect, TE = Th * HPD
df_sub['Theta Effect']= df_sub['theta'] * HPD
most_recent_price=df_ticker.iloc[-1]
IV=df_sub['volatility']
# Expected Price Change, EPC = P * (Exp (IV*((HPD/365) ^ 0.5))-1)
#EPC = P * (e**(IV*((HPD/365)**0.5)) - 1)
df_sub['Expected_price_change']= most_recent_price.values[0]*(e**(IV.values*(HPD/365)**0.5)-1)
# Delta Effect (DE) = -ABS(Delta)* EPC
df_sub['Delta_Effect']=abs(-df_sub['delta'])*(-1)*df_sub['Expected_price_change']
# Gamma Effect (GE) = Gamma * (EPC^2)/2
df_sub['gamma_effect']=df_sub['gamma']*(df_sub['Expected_price_change']**2)/2
# VTRRR = (VE/TE)
VTRRR=df_sub['vega_effect']/df_sub['Theta Effect']
# DTRRR = (DE +GE)/TE
DTRRR=(df_sub['Delta_Effect']+df_sub['gamma_effect'])/df_sub['Theta Effect']
# Rt = DTRRR +VTRRR  risk return ratio
# Add a column Risk Return Ratio
df_sub['Risk_Return']=DTRRR +VTRRR

In [46]:
#For â€˜putCallâ€™ = CALL & ` strike price in the range, (â€˜p0 + 0.75 * Vtâ€™  to p0 + 1.25 *Vt),
#Rt = Rt min & Symbol_CS = corresponding symbol. Dcs = Delta, Pcs = Strike Price


call_short=df_sub.loc[(df_sub.putCall=='CALL')& 
           (df_sub.strike_price.values >=most_recent_price[0]+1*vt)& 
           (df_sub.strike_price.values <=most_recent_price[0]+1.5*vt)]
call_short=call_short.loc[call_short['Risk_Return']==call_short['Risk_Return'].min()][['symbol','delta','strike_price','Risk_Return','ask','bid']]


#For â€˜putCallâ€™ = CALL & ` strike price in the range, (â€˜Pcs + 15â€™ to 'Pcs + 50'),
#Rt = Rt min & Symbol_CL= corresponding symbol. Dcl = Delta, Pcl = Strike Price

pcs=call_short['strike_price']

call_long=df_sub.loc[(df_sub.putCall=='CALL')& 
           (df_sub.strike_price.values >=pcs.values[0]+100)& 
           (df_sub.strike_price.values <=pcs.values[0]+250)
                    ]
call_long= call_long.loc[call_long['Risk_Return']==call_long['Risk_Return'].min()][['symbol','delta','strike_price','Risk_Return','ask','bid']]

In [47]:
call_long

               symbol  delta  strike_price    Risk_Return   ask  bid
497  GOOG_111921C3250   0.08        3250.0 -260077.656367  10.5  9.1

In [48]:
call_short

               symbol  delta  strike_price    Risk_Return   ask   bid
601  GOOG_121721C3050   0.27        3050.0 -140218.460646  54.7  50.9

In [64]:
# For â€˜putCallâ€™ = PUT & ` strike price < (â€˜p0 â€“ (Pcs-P0)* 1.25)
# Delta_diff = [Abs(Delta â€“ Dcs)]
# Check for min Delta_diff
# Dps = corresponding Delta, Symbol_PS = corresponding symbol Pps = Strike Price
put_short= df_sub.loc[(df_sub.putCall=='PUT') & 
           (df_sub.strike_price.values < (most_recent_price[0]-(pcs.iloc[0]-most_recent_price.iloc[0])*0.5))&
           (df_sub.strike_price.values > (most_recent_price[0]-(pcs.iloc[0]-most_recent_price.iloc[0])*1.25))      
                    ]
put_short['delta_diff']= abs(put_short['delta']-call_short.delta.iloc[0])
put_short= put_short.loc[put_short['Risk_Return']==put_short['Risk_Return'].min()][['symbol','delta','strike_price','Risk_Return','ask','bid']]
put_short=put_short.loc[put_short.strike_price==put_short.strike_price.max()]

<ipython-input-64-7c5f31cdcac6>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  put_short['delta_diff']= abs(put_short['delta']-call_short.delta.iloc[0])

In [65]:
put_short

              symbol  delta  strike_price   Risk_Return  ask  bid
92  GOOG_092421P2575 -0.028        2575.0 -4.724048e+06  1.6  1.3

In [74]:
# For â€˜putCallâ€™ = PUT & ` strike price <  (â€˜Pps â€“ (Pcl-Pcs)*1.25)
# Delta_diff = [Abs(Delta â€“ Dcl)]
# Check for min Delta_diff 
# Dpl = corresponding Delta, Symbol_PL = corresponding symbol

pps=put_short['strike_price']
put_long=df_sub.loc[(df_sub.putCall=='PUT')& 
                    (df_sub.strike_price.values <= (pps.iloc[0]-(call_long.strike_price.iloc[0]-call_short.strike_price.iloc[0])*1.25)) &
                    (df_sub.strike_price.values >= (pps.iloc[0]-(call_long.strike_price.iloc[0]-call_short.strike_price.iloc[0])*1.75) )
                    ]

put_long['delta_diff']= abs(put_long['delta']-call_long.iloc[0,1])
put_long= put_long.loc[put_long['Risk_Return']==put_long['Risk_Return'].min()][['symbol','delta','strike_price','Risk_Return','ask','bid']]
put_long=put_long.loc[put_long.strike_price==put_long.strike_price.max()]

<ipython-input-74-1b320d15e0e7>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  put_long['delta_diff']= abs(put_long['delta']-call_long.iloc[0,1])

In [75]:
put_long

               symbol  delta  strike_price  Risk_Return  ask  bid
729  GOOG_102221P2320 -0.054        2320.0  3775.877248  9.3  7.4

In [80]:

# Max Income, I = Price of CS + Price of PS â€“ Price of CL -Price of PL
# Maximum Loss, Pot_Loss = Max[( Pps- Ppl), (Pcl-Pcs)]-I
# Break Even Lower be_lower= Pps- I
# Break Even Upper, be_upper= Pcs + I
max_income=(call_short.ask.values[0]+ put_short.ask.values[0]-call_long.ask.values[0]-put_long.ask.values[0])*100
max_loss= max((put_short.strike_price.values[0]-put_long.strike_price.values[0]),
              (call_long.strike_price.values[0]-call_short.strike_price.values[0]))*100-max_income
break_even_lower= put_short.strike_price.values[0]-max_income/100
break_even_upper= call_short.strike_price.values[0]+max_income/100

In [81]:
# Recommendations:
# Call Short: Symbol_CS
# Call Long: Symbol_CL
# Put Short: Symbol_PS
# Put Long: Symbol_PL
# Maximum Possible Profit = I
# Maximum Potential Loss = Pot_Loss
# Profitable Price Range = ( be_lower, be_upper)
print(f'Call Short:     {call_short.symbol.values}')
print(f'Call Long:      {call_long.symbol.values}')
print(f'Put Short:      {put_short.symbol.values}')
print(f'Put Long:       {put_long.symbol.values}')

print(f'Maximum Possible Profit:      {max_income}')
print(f'Maximum Potential loss:      {max_loss}')

print(f'Break Even Lower be_lower:      {break_even_lower}')
print(f'Break Even Upper:               {break_even_upper}')

Call Short:     ['GOOG_121721C3050']
Call Long:      ['GOOG_111921C3250']
Put Short:      ['GOOG_092421P2575']
Put Long:       ['GOOG_102221P2320']
Maximum Possible Profit:      3650.0
Maximum Potential loss:      21850.0
Break Even Lower be_lower:      2538.5
Break Even Upper:               3086.5

In [ ]:
# Visualizations: